<div>
    <a href="/video"><img src="assets/video-tn.png" alt="Thumbnail of How do we make people more aware of their personal data? video"><p>Video Player Demo</p></a>
</div>
<div>
    <a href="/audio"> <img src="assets/audio-tn.jpg" alt="Thumbnail of MozCast - Episode 1 - Our Data Future"><p>Audio Player Demo</p></a>
</div> 