<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/main.css">
<title>{{title}}</title>
</head>
<body>
    <header>
        <h1 class="title">Accessible Multimedia Web Player</h1>
    </header>
    <nav>
        <ul>
            <li id="dark-mode-btn"><span>Dark Mode</span></li>
        </ul>
    </nav>
    <div class="media-containter">
        {{{body}}}
    </div>

</body>
<script src="js/main.js" type="module" defer></script>
</html>
